services:
  postgres:
    image: postgres:16
    environment:
      POSTGRES_USER: hack
      POSTGRES_PASSWORD: hackpass
      POSTGRES_DB: localdb
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U hack -d localdb"]
      interval: 5s
      timeout: 5s
      retries: 5


volumes:
  pgdata:
